﻿{% extends base_template %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block page_subtitle %}{{ page_subtitle }}{% endblock %}

{% block page_content %}
        <div class="panel-heading">
            Login
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <p class="error">{{ error_message }}</p>
                    <form role="form" action="" method="post">{% csrf_token %}
                        <p>
                            <label for="id_username">Email:</label>
                            <input class="form-control" id="username" name="username" type="text">
                        </p>
                        <p>
                            <label for="id_Password">Password:</label>
                            <input class="form-control" id="password" name="password" type="password">
                            <input type="hidden" id="redirect" value="{{ redirect }}" />
                        </p>

                        <input type="submit" value="Login" class="btn btn-default" />
                        <a href="/dashboard/reset-password/" class="pull-right">Forgot Password</a>
                    </form>
{% endblock %}
                </div>
            </div>
        </div>
