﻿{% extends base_template %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block page_subtitle %}{{ page_subtitle }}{% endblock %}

{% block page_content %}
        <div class="panel-heading">
            Reset Password
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    {%  if confirmation_message %}
                    <div class="alert alert-info">{{ confirmation_message }}</div>
                    {% endif %}
                    {% if error_message %}
                    <div class="alert alert-danger">{{ error_message }}</div>
                    {% endif %}
                    <form role="form" action="" method="post">{% csrf_token %}
                        <p>
                            <label for="id_email">Email:</label>
                            <input class="form-control" id="email" name="email" type="text">
                        </p>

                        <input type="submit" value="Reset Password" class="btn btn-default" />
                        <a href="/dashboard/login/" class="pull-right">Login</a>
                    </form>
{% endblock %}
                </div>
            </div>
        </div>
