{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
	<!-- Bootstrap Styles-->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet" />
        <!-- Custom Styles-->
    <link href="{% static "css/custom-styles.css" %}" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <!-- JQuery style -->
    <link href="{% static "js/jquery-ui-1.11.4/jquery-ui.min.css" %}" rel="stylesheet" />

    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
    <script src="{% static "js/jquery-ui-1.11.4/jquery-ui.min.js" %}"></script>

      <!-- Bootstrap Js -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- Metis Menu Js -->
    <script src="{% static "js/jquery.metisMenu.js" %}"></script>
      <!-- Custom Js -->
<!--    <script src="{% static "js/custom-scripts.js" %}"></script> -->
    {%  for script in module_scripts %}
        <script src="{% static script %}"></script>
    {% endfor %}
    {%  for stylesheet in module_stylesheets %}
        <link href="{% static stylesheet %}" rel="stylesheet">
    {% endfor %}

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">{{ dashboard_title }} <span class="navbar-brand-subtitle">{{ dashboard_subtitle|default:"Dashboard" }}</span></a>
            </div>

            {{ dashboard_dropdowns }}
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                {{ dashboard_menu | safe }}

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
             <div id="page-inner">
			    <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">{% block page_title %}{% endblock %}</h1>
                    </div>
                </div>
			    <div class="row">
                    <div class="panel panel-default">
                    {% block page_content %}{% endblock %}
                    </div>
                <footer><p></p></footer>
                </div>
                 <!-- /. ROW  -->
            </div>
        </div>
         <!-- /. PAGE WRAPPER  -->
    </div>
     <!-- /. WRAPPER  -->



</body>
</html>
