body {
    font-family: Helvetica, Calibri, arial, sans-serif;
    font-size: 3.2em;
}
#title-banner {
    background-color: #74B548;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: .25em;
    margin: 0 0 .2em 0;
}
h1 {
    color: #74B548;
    margin-bottom: .5em;
}
p {
    font-size: .8em;
}
#reset-password-form {
    padding: .2em;
    margin-top: 1.4em;
    margin-bottom: .2em;
}
.form-group {
    display: block;
    position: relative;
    max-width: 500px;
    width: 75%;
    margin: .5em auto;

}
.form-group label {
    font-weight: normal;
    font-size: .8em;
    position: absolute;
    top: .756em;
    left: .5em;
    color: #ccc;
    z-index: 1;
}

.form-group input {
    font-weight: normal;
    font-size: .6em;
    height: 2.5em;
    background-color:#fff;
    z-index: 10;
    border-color: #999;
    border-width: 2px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.form-group input[type=submit] {
    min-width: 225px;
    height: 3em;
    width: 50%;
    display: block;
    margin: 1.8em auto;
    font-size: .7em;

    background-color: #81C3C0;
    color: #fff;
}
.message {
    display: block;
    position: relative;
    max-width: 500px;
    width: 75%;
    margin: .5em auto;
    text-align: center;
}
#logo-bottom {
    width: 60%;
    display: block;
    margin: auto;
    max-width: 400px;
}