
#provider-details {
    padding-left:25px;
}

h1 {
    color: #423339;
}

h2 {
    font-size: 25px;
    color:#423339;
    font-weight:bold;
}

h3 {
    font-size: 18px;
    color:#423339;
}

p {
    color:#AAA;
    margin-bottom: 30px;
}

img {
    max-width: 90%;
}

a.back {
    font-size:18px;
    color: #000;
}

#navbar, .navbar-brand, .navbar-brand:hover, .top-navbar, .navbar-header, #wrapper {
    background-color: #423339;
}

.navbar-brand img {
    max-height: 125px;
    padding-left:23%;
}

.navbar {
    border-bottom: 0;
}

.object_list thead tr {
    background-color: #AF9D94;
    color: #FFF;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #EFEDEE;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #DDD;
}
