{% extends "dashboard/pd_dashboard_base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block page_subtitle %}{{ page_subtitle }}{% endblock %}
{% block page_content %}
<div class="panel-heading">
    <h1>Page Not Found</h1>
</div>

<div class="panel-body">
    <p>The item you requested doesn't exist.</p>
    <ul>
        <li>If you entered the URL by hand, double-check that it is correct</li>
        <li>Try navigating using the module links on the left</li>
    </ul>
</div>
{% endblock %}