{% extends "dashboard/pd_dashboard_base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block page_subtitle %}{{ page_subtitle }}{% endblock %}
{% block page_content %}
<div class="panel-heading">
    <h1>Server Error - 500 Status</h1>
</div>

<div class="panel-body">
    <p>The server could not complete your request due to an unexpected error.</p>
    <ul>
        <li>You can try refreshing the page, the problem may be temporary</li>
        <li>If you entered the URL by hand, double-check that it is correct</li>
        <li>We've been notified of the problem and will do our best to make sure it doesn't happen again.</li>
    </ul>
</div>

{% endblock %}