{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Set Password</title>
        <link href="{% static "dashboard/css/bootstrap.css" %}" rel="stylesheet" />
        <link href="{% static "dashboard/css/set-password.css" %}" rel="stylesheet" />

    </head>
    <body>
        <div id="page-container">
            <div id="title-banner"><h1>Activate Account</h1></div>
            <div class="message">{{ message|safe }}</div>
        </div>
    </body>
</html>