{% load static  %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Set Password</title>
        <link href="{% static "dashboard/css/bootstrap.css" %}" rel="stylesheet" />
        <link href="{% static "dashboard/css/set-password.css" %}" rel="stylesheet" />

    </head>
    <body>
        <div id="page-container">
            <div id="title-banner">Set Password</div>
            <div id="reset-password-form">
            {%  if message %}
                <div class="message">{{ message|safe }}</div>
            {%  endif %}
            {% if show_form %}
                <form action="" method="post">
                {%  csrf_token %}
                    <input type="hidden" id="user_id" name="user_id" value="{{ user_id }}" /><input type="hidden" id="reset_token" name="reset_token" value="{{ reset_token }}" />
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" id="password"  placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password" id="confirm-password" placeholder="Confirm Password" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="form-control" name="submit" id="submit" value="Set my Password" />
                    </div>
                </form>

            {%  endif %}
            </div>
        </div>
    </body>
</html>