#application-company-logo {
    float: right;
    max-width: 40%;
    font-size: 24px;
}
#application-company-logo img {
    max-width: 200px;
    max-height: 150px;
}
#page-inner {
    margin-top:0;
    padding-top: 0;
}
.row.half {
    width: 50%;
}
.page-header {
    margin-top: 20px;
    margin-bottom: 10px;
}
#modal #page-wrapper {
    margin: auto;
}

.form-control {
    width: 70%;
    margin-top:25px;
}

#form-panel, #form-update-panel{
    display: block;
    max-width: 930px;
    border: 1px solid #ddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top: 15px;

}
#results-panel {
    display: block;
    max-width: 930px;
    border: 1px solid #ddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top: 15px;
}
#form-panel h3, #form-update-panel h3 {
    margin-bottom: 10px;
}

#form-panel input[type="file"], #form-update-panel input[type="file"]{
    float: right;
    width: 70%;
    clear: right;

}
#form-panel input[type="checkbox"], #form-update-panel input[type="checkbox"]{
    margin-top: 30px;
    margin-bottom: 5px;
    height: 20px;
    float: left;
    clear: right;

}
/* multiple choice checkboxes: */
#form-panel label input[type="checkbox"], #form-update-panel label input[type="checkbox"] {
    margin: 4px 10px 0 0;
}

#form-panel form .split-date, #form-update-panel form .split-date {
    width: 20%;
    min-width:100px;
    float:left;
    margin-right: 10px;
}
form ul {
    width: 70%;
    float: right;
    padding: 0;
}
form ul li {
    list-style-type: none;
}

form ul li input.form-control, form input[type=checkbox].form-control {
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;
}
#form-panel h3 {
    margin-top: 15px;
}
.object_list {
    margin-top: 1em;
    width: 100%;
    min-width: auto;
}
.object_list .list_actions {
    width: 130px;
    text-align: center;
}

.thumbnail {
    float: left;
    width: 70%;
    padding: 20px;
}
 .header-label {
    width: 30%;
    clear: both;
    float: left;
    margin-top: 15px;
 }
 .header-value {
    width: 70%;
    float: right;
    margin-top: 15px;
 }

#form-panel label, #form-update-panel label, #form-panel .sub-form label, #form-update-panel .sub-form label {
    width: 30%;
    clear: both;
    float: left;
    margin-top:30px;
}

#buttons-panel {
    clear: both;
    padding-top: 30px;
}

#form-panel #id_trip, #form-update-panel #id_trip {
    width: 34%;
    float: left;
}

#form-panel #id_recipient, #form-update-panel #id_recipient {
    width: 34%;
    float: right;

}

#form-panel #id_message_text, #form-update-panel #id_message_text {
    margin-left: 30%;
    height: 8em;
}

.btn-submit {
    width: 20%;
    display: block;
    margin: auto;
    color: #fff;
    border: #888 thin solid;
}

#form-panel .cancel-button, #form-update-panel .cancel-button, .cancel_button {
    border: none;
    text-decoration: underline;
    margin: 20px auto !important;
    display: block;
    font-size: .9em;
    background-color: transparent;
}
#form-panel .cancel-button:hover, #form-update-panel .cancel-button:hover {
    background-color: transparent;
}
#form-panel .errorlist, #form-update-panel .errorlist {
    width: 34%;
    float: right;
    height: 0px;
    padding-left: 0;
}

#form-panel .errorlist li, #form-update-panel .errorlist li {
    padding-left: 15px;
    margin-left: -100%;
    width: auto;
}
#modal-inner .row {
    margin: auto;
}
#modal-inner .panel {
    margin-bottom: 0;
}
#modal-inner #form-panel, #form-update-panel{
    width: auto;
}

.panel-danger {
    border: thin solid #ebccd1;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.panel-warning {
    border: thin solid #8a6d3b;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.list-actions{
    text-align: center;
}

fieldset {
    width: 100%;
    clear: both;
}
legend {
    font-size: inherit;
    font-weight: bold;
    padding-top: 20px;
    border-bottom: none;
    font-weight: bold;
    width: 30%; /* matches label width */
    float: left;
}

.sub-form-block {
    margin-left: 30%;
    width: 70%;
}
.add-sub-form-button {
    float: right;
    width: 155px;
}

.sub-form-block .delete-label,
label[for=id_details-0-DELETE]{
    margin-top: 0!important;
    width: 20px!important;
    height: 20px;
    border-radius: 10px;
    border: thin solid #999;
    color: #999999;
    text-align: center;
}
#trip-details-block .sub-form {
    white-space: nowrap;
}
.add-sub-form-button {
    margin-right: 20px;
    background-color: #eee;
}
.inline-form-delete {
    font-size: 16px;
}

.empty_form {
    display: none;
}

.xdsoft_datetimepicker {
    font-family: 'Open Sans', sans-serif;
}

/* Override some jquery styles. */
.ui-dialog-title {
    color: #fff;
    font-weight: 100;
    font-size: 1.2em;
}
.ui-widget {
    font-size: 1em;
}
.ui-widget label {
    font-weight: 100;
}
.ui-dialog-buttonset {
    width: 100%;;

}
.ui-dialog-buttonset .btn-default {
    width: 20%;
    background-color: #000000;
    color: #fff;
    border: #888 thin solid;
    display: block;
    margin: auto!important;
}
.ui-dialog-buttonpane {
    border: none;
}
footer{
    margin: auto;
}
footer #push-logo {
    margin: auto;
    display: block;
}

#nav-item-messages-badge {
    font-size: 14px;
    background-color: rgba(228,45,0,1);
    position: absolute;
    top: 15px;
    right: 15px;
    text-align: center;
    color: white;
}

#completed_trips_link{
    padding-right: 20px;
    text-decoration: underline;
    display: block;
    width: 100%;
    text-align: right;
    color: #000000;
    clear: both;
    margin-top: 10px;
}

.link_btn {
    background-color: #000000;
    color: #fcfcfc;
    margin: 20px;
    padding: 8px 50px;
    border-radius: 10px;
    font-weight: normal;
    border: 1px solid #ccc;
    text-decoration: none;
}
.link_btn:hover {
    color: #fff;
    text-decoration: none;
}
.warning-heading {
    font-size: 20px;
    text-align: center;
}
.error_msg {
    padding: 30px;
}
.error_details{
    font-family: "Courier New", courier, monospace;
    border: thin solid #ccc;
    padding: 30px;
    margin: 30px;
    overflow: auto;
}
