{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <title>{{ dashboard_title }}</title>
	<!-- Bootstrap Styles-->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet" />
        <!-- Custom Styles-->
    <link href="{% static "dashboard/css/custom-styles.css" %}" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!-- Date Picker -->
    <link href="{% static "js/datetimepicker-master/jquery.datetimepicker.css" %}" rel="stylesheet" type="text/css" />
    <!-- JQuery style -->
    <link href="{% static "js/jquery-ui-1.11.4/jquery-ui.min.css" %}" rel="stylesheet" />

    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
    <script src="{% static "js/jquery-ui-1.11.4/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/datetimepicker-master/jquery.datetimepicker.js" %}"></script>

      <!-- Bootstrap Js -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- Metis Menu Js -->
    <script src="{% static "js/jquery.metisMenu.js" %}"></script>
      <!-- Custom Js -->
<!--    <script src="{% static "js/custom-scripts.js" %}"></script> -->
    {%  for script in module_scripts %}
        <script src="{% static script %}"></script>
    {% endfor %}
    {% if do_page_refresh %}
        <script src="{% static 'js/refresh-screen.js' %}"></script>
    {% endif %}
    {%  for stylesheet in module_stylesheets %}
        <link href="{% static stylesheet %}" rel="stylesheet">
    {% endfor %}
    {% block template_scripts %}{% endblock %}

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                {% if user.is_authenticated %}
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% endif %}

                <div class="navbar-brand">
                    {% if brand != None %}{{ brand }}
                    {% else %}<a class="navbar-brand">{{ dashboard_title }} <span class="navbar-brand-subtitle">{{ dashboard_subtitle|default:"Dashboard" }}</span></a>
                    {% endif %}
                </div>
            </div>
            <div id="navbar" class="navbar-collapse">
                {{ dashboard_dropdowns }}
                {% if user.is_authenticated %}
                <ul class="nav navbar-top-links navbar-right">
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Logged in as {{ request.user }}</a></li>
                            <li class="divider"></li>
                            <li><a href="/dashboard/logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
                {%  endif %}
                {% if do_page_refresh %}
                <ul class="nav navbar-top-links navbar-right">
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a id="refresh-toggle" class="dropdown-toggle highlight" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fa fa-refresh fa-fw"></i>
                        </a>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
                {% endif %}
                <div class="navbar-footer"></div>
            </div><!--/.navbar-collapse -->
        </nav>
        <!--/. NAV TOP  -->


                    {% include "dashboard/includes/menu.html" %}



        <div id="page-wrapper" >
             <div id="page-inner">
             {%  if company.logo_uri %}
                 <div id="application-company-logo"><img src="{{ company.logo_uri }}" /></div>
             {% else %}
                 <div id="application-company-logo">{{ company.name }}</div>
             {% endif %}
                {% if breadcrumb_title %}
                <div class="row half">
                    <div id="breadcrumb" class="col-md-12">
                        <a href="{{ breadcrumb_link }}">{{ breadcrumb_title }}</a>
                    </div>
                </div>
                {% endif %}
			    <div class="row half">
                    <div class="col-md-12">
                        <h1 class="page-header">{% block page_title %}{{ page_title }}{% endblock %}</h1>
                    </div>
                </div>
			    <div class="row">
                    <div class="panel panel-default">
                    {% block page_content %}{{page_content}}{% endblock %}
                    </div>
                <footer>
                    {% if not page == 'Login' and not hide_push_footer %}
                    {% endif %}
                </footer>
                </div>
                 <!-- /. ROW  -->
            </div>
        </div>
         <!-- /. PAGE WRAPPER  -->
    </div>
     <!-- /. WRAPPER  -->


{% block audio_elements %}
{% load static %}
{% endblock %}
</body>
</html>
