﻿{% extends "dashboard/pd_dashboard_base.html" %}

{% block page_title %}{{ page_title }}{% endblock %}
{% block page_subtitle %}{{ page_subtitle }}{% endblock %}
{% block page_content %}

    <div class="panel panel-warning">
        <div class="panel-heading">
            <div class="warning-heading">{{ dashboard_message }}</div>
        </div>
        <div class="panel-body">
            {% if dashboard_message_include %}
                {% with 'dashboard/includes/'|add:dashboard_message_include as include_template %}
                {% include  include_template %}
                {% endwith %}
            {% endif %}
            <p>{{  dashboard_message_details }}</p>
        </div>

    </div>

{% endblock %}