﻿{% extends "dashboard/pd_dashboard_base.html" %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block page_subtitle %}{{ page_subtitle }}{% endblock %}

{% block page_content %}
<div class="panel-heading">
    <a href="create/"><i class="fa fa-plus-circle"></i> Create New {{ object_title }}</a>
</div>

<div class="panel-body">
    <div>
        <table class="table table-striped table-bordered table-hover object_list">
            <thead>
                <tr>
                    {%  for list_heading in list_headings %}
                    <th>{{ list_heading|title }}</th>
                    {%  endfor %}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr class="">
                {%  for field, value in object.object_values %}
                    <td><a href="update/{{ object.pk}}/">{{ value|default_if_none:"" }}</a></td>
                {% endfor %}
                    <td><a href="update/{{ object.pk }}/"><i class="fa fa-pencil-square-o"></i></a> <a href="delete/{{ object.pk }}"><i class="fa fa-times-circle"></i></a></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="{{  list_headings|length }}">No {{ object_title_plural }} yet.</td>
                    <td>&nbsp;</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% endblock %}
