﻿{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>

    {%  for script in module_scripts %}
        <script src="{% static script %}"></script>
    {% endfor %}
    {%  for stylesheet in module_stylesheets %}
        <link href="{% static stylesheet %}" rel="stylesheet">
    {% endfor %}

</head>
<body style="width:300px;height:300px">
    <div id="modal">

        <!--/. NAV TOP  -->

        <!-- /. NAV SIDE  -->
        <div id="modal-wrapper" >
             <div id="modal-inner">
			    <div class="row">
                </div>
			    <div class="row">
                    <div class="panel panel-default">











{% block page_content %}

    {% block module_screen_form %}
        <div id="form-panel" class="panel-body show-form">
            <div class="row">
                <div class="header">
                    <span class="header-label">To:</span> <span class="header-value">{{ recipient }}</span>
                    {% if trip %}<span class="header-label">Regarding:</span> <span class="header-value">{{ trip }}</span>{% endif %}
                </div>
                <form role="form" action="" method="post">
                    {% csrf_token %}
                    {{ form }}
                {% if sub_forms %}
                    {% include "dashboard/includes/sub_form.html" %}
                {% endif %}

                </form>
            </div>
        </div>
        {% endblock %}


{% endblock %}










                    </div>
                </div>
                 <!-- /. ROW  -->
            </div>
        </div>
         <!-- /. PAGE WRAPPER  -->
    </div>
     <!-- /. WRAPPER  -->



</body>
</html>