﻿{% extends "dashboard/pd_dashboard_base.html" %}

{% block page_title %}{{ page_title }}{% endblock %}
{% block page_subtitle %}{{ page_subtitle }}{% endblock %}
{% block page_content %}
<div class="panel-heading">
    Delete Item
</div>

<div class="panel-body">
    <form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <input type="submit" value="Confirm" onclick="this.disabled=true,this.form.submit();" />
</form>
</div>
{% endblock %}