﻿{% extends "dashboard/pd_dashboard_base.html" %}
{% load static %}
{% block template_scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#username').focus();
        });

    </script>
{% endblock %}
{% block page_title %}{{ page_title }}{% endblock %}

{% block page_subtitle %}{{ page_subtitle }}{% endblock %}

{% block page_content %}

        <div class="panel-body">
            <div class="row">
                <div class="col-lg-5 login-screen-box">
                    <h1 class="text-center">Login</h1>
                    {% if error_message %}<p class="error">{{ error_message }}</p>{% endif %}
                    <form role="form" action="" method="post">{% csrf_token %}
                        <p>
                            <label for="id_username">Email:</label>
                            <input class="form-control" id="username" name="username" type="text">
                        </p>
                        <p>
                            <label for="id_Password">Password:</label>
                            <input class="form-control" id="password" name="password" type="password">
                            <input type="hidden" id="redirect" value="{{ redirect }}" />
                        </p>

                        <input type="submit" value="Login" class="btn btn-default" />
                    </form>
                </div>

            </div>
        </div>
{% endblock %}