{% extends "dashboard/pd_dashboard_base.html" %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block page_subtitle %}{{ page_subtitle }}{% endblock %}

{% block page_content %}


    {% block module_screen_form %}
        <div id="form-update-panel" class="panel-body{% if form.errors %} show-form{% endif %}">
            {% if form_panel_title %}<h3>{{ form_panel_title }}</h3>{% endif %}
            <form role="form" action="{{ form_action }}" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
                {% csrf_token %}

                 {% block display_form %}
                    {{ form.as_p }}
                {% endblock %}

                {% block buttons_panel %}
                    {%  if not form_disabled %}
                        <div id="buttons-panel">
                            <input type="submit" value="{{ save_button_text|default:"Save" }}" class="btn btn-default btn-submit" id="submit-button" onclick="this.disabled=true,this.form.submit();" />
                            <a href="{{ cancel_uri }}" class="btn btn-default cancel-button" >{{ cancel_button_text|default:"Cancel" }}</a>
                        </div>
                    {% endif %}
                {% endblock %}

                {% block display_subforms %}
                    {% if sub_forms %}
                        {% include "dashboard/includes/sub_form.html" %}
                    {% endif %}
                {% endblock %}
            </form>
                {% block sub_object_list %}
                {% if sub_objects %}
                    {% for objects, object_list in sub_objects.items %}
                <h3>{{ objects|title }}</h3>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover object_list">

                            <tbody>
                            {% for object in object_list %}
                                {% block object_list_item %}
                                    <tr class="">
                                        <td>{{ object }}</td>
                                        <td class="list_actions"><a href="{{ objects }}/{{ object.pk }}/update/"><i class="fa fa-pencil-square-o"></i></a>
                                        <a href="{{ objects }}/{{ object.pk }}/delete/"><i class="fa fa-times-circle"></i></a></td>
                                    </tr>
                                {% endblock %}
                            {% empty %}
                                <tr>
                                    <td colspan="{{ list_headings|length }}">No {{objects}} yet.</td>
                                    <td>&nbsp;</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                    <a href="{{ objects }}/" class="btn btn-default add-sub-form-button" id="add-{{ objects|slugify }}-button" >Add {{ objects|title }}</a>
                    <div id="dialog"><div id="dialog_text"></div></div>
                {% endfor %}
            {% endif %}
            {% endblock %}
        </div>
        {% endblock %}


{% endblock %}
