﻿{% extends "dashboard/pd_dashboard_base.html" %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block page_subtitle %}{{ page_subtitle }}{% endblock %}

{% block page_content %}

    {% block module_screen_form %}
        {% if alert_message %}
        <div class="alert alert-warning">{{ alert_message }}</div>
        {% endif %}
        {% if not hide_create_link %}
        <div class="panel-heading" id="create-link-panel">
            <a id="create-link" href="#">{{ new_text | default:'Create New ' }} {{ object_title }}</a>
        </div>
        {% endif %}
        <div id="form-panel" class="panel-body{% if form.errors or form_only %} show-form{% endif %}">
            {% if form_panel_title %}<h3>{{ form_panel_title }}</h3>{% endif %}
            <form role="form" action="{{ form_action }}" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
                {% csrf_token %}

                {% block display_form %}
                    {{ form.as_p }}
                {% endblock %}

                {% block buttons_panel %}
                    {%  if not disabled %}
                        <div id="buttons-panel">
                            <input type="submit" value="{{ save_button_text|default:"Save" }}" class="btn btn-default btn-submit" id="submit-button" onclick="this.disabled=true,this.form.submit();" />
                            {% if not form_only %}
                            <input type="reset" value="{{ cancel_button_text|default:"Cancel" }}" class="btn btn-default cancel-button" id="cancel-button" />
                            {% endif %}
                        </div>
                    {% endif %}
                {% endblock %}

                {% block display_subforms %}
                    {% if sub_forms %}
                        {% include "dashboard/includes/sub_form.html" %}
                    {% endif %}
                {% endblock %}

            </form>
        </div>
        {% endblock %}

        {% block module_screen_filter %}
        {% if filter_form %}
        <div class="panel clearfix">
            <div class=row">
                <div class="col-md-12">
                    <form  class="pull-right message-filter-form form" action="" method="get">
                        {{ filter_form }}
                        <input type="submit" value="Filter" class="btn btn-highlight" id="filter-button" />
                        <a href="{{ request.path }}" class="btn btn-default">Clear</a>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
        {% endblock %}
        <div class="panel-body">

        {% block before_list %}{% endblock %}

        {% block module_screen_list %}
            {% if not form_only %}
                <table class="table table-striped table-hover object_list">
                    <thead>
                    {% block object_list_headings %}
                        {%  for list_heading in list_headings %}
                        <th class="{{ list_heading|slugify }}">{{ list_heading|title }}</th>
                        {%  endfor %}
                        {%  if show_list_actions %}
                        <th class="list_actions">Actions</th>
                        {% endif %}
                    {% endblock %}
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                        <tr>
                            {% block object_list_item %}
                                {%  for field, value in object.object_values %}
                                    <td>{{ value|default_if_none:""|safe }}</td>
                                {% endfor %}
                            {% endblock %}

                            {%  if show_list_actions %}
                                <td class="list-actions">{%  spaceless %}
                                    {% for action, icon in list_actions %}
                                    <a href="{{ object.pk }}/{{ action }}/" title="{{ action|title }}" class="action-{{ action }}"><i class="fa {{ icon }}"></i></a>&nbsp;
                                    {% endfor %}
                                {% endspaceless %}</td>
                            {% endif %}
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="{{  list_headings|length }}">No {{ object_title_plural }} yet.</td>
                            <td>&nbsp;</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


            <nav class="pagination" id="pagination-wrapper">
                <ul class="pagination" id="pagination">
                    {% if object_list.has_previous %}
                    <li class=""><a id="previous-page" href="?p={{ object_list.previous_page_number }}" aria-label="Previous">&lt;</a></li>
                    {% else %}
                    <li class="disabled"><span aria-label="Previous">&lt;</span></li>
                    {% endif %}
                    {% for page in object_list.paginator.page_range %}
                    <li class="{% if page == object_list.number %}active{% endif %}"><a id="page-{{ page }}" href="?p={{ page }}">{{ page }}</a></li>
                    {% endfor %}
                    {% if object_list.has_next %}
                    <li class=""><a id="next-page" href="?p={{ object_list.next_page_number }}" aria-label="Next">&gt;</a></li>
                    {% else %}
                    <li class="disabled"><span aria-label="Previous">&gt;</span></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
            {% endif %}
            <div id="dialog"><div id="dialog_text"></div></div>
            <div id="reply"><div id="reply_form"></div></div>

        {% endblock %}
{% endblock %}

