/*----------------------------------------------
Author : www.webthemez.com
License: Commons Attribution 3.0
http://creativecommons.org/licenses/by/3.0/
------------------------------------------------*/


/*----------------------------------------------
    COMMON  STYLES    
------------------------------------------------*/
body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

body a {
    color: #000000;
}
body a:hover {
    color: #000000;
}

 #wrapper {
    width: 100%;
    background:#000000;
     height: 100%;
     overflow: auto;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background:#fff;
   
}
#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:transparent;
    padding:10px;
}

.text-center {
    text-align:center;
}
.no-boder {
    border:1px solid #f3f3f3;
}

h1, .h1, h2, .h2, h3, .h3 {
margin-top: 7px;
margin-bottom: -5px;
}
h1 {
    font-size: 22px;
    color: #bbb;
}
h2 {
    color: #000;
}
h4 {
    padding-top:10px;
}
.square-btn-adjust {
    border: 0px solid transparent; 
   -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

}
p {
    font-size: 16px;
    line-height: 25px;
    padding-top: 20px;
}
li {
    font-size: 16px;
}
table p {
    padding-top: 0;
}

.object_list {
    width: auto;
}

.object_list {
    border: 1px dotted;
}

.object_list thead tr {
    background-color: #999999;
}

.object_list tbody tr td, .object_list thead tr th {
    border: 1px dotted;
    border-collapse: collapse;
}

.highlight-list {
    background-color: #FCF8E3;
    border: thin solid #ccc;
    border-radius: 5px;
    padding-top: 10px;
}
.word-break {
    word-break: break-all;
}

/*----------------------------------------------
   DASHBOARD STYLES    
------------------------------------------------*/
.page-header {
padding-bottom: 9px;
margin: 0 0 20px;
border-bottom: none;
}
.panel {
    border: none;
}
.panel-back {
    background-color:#fff;

}
.panel-default > .panel-heading {
color: #000;
background-color: #FFFFFF;
border-color: #ddd;
font-weight:bold;
border: none;
float: none;
}

nav.pagination {
    display: block;
    text-align: center;
}
form.message-filter-form
{
    margin-top:2em;
}

form.message-filter-form *
{
    display: block;
    float:left;
    width:auto;
    margin-left:.5em;
}

.jumbotron, .well{
background:#fff;
}
   .noti-box {
min-height: 100px;
padding: 20px;
}

    .noti-box .icon-box {
display: block;
float: left;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}
.text-box p{
    margin: 0 0 3px;
}
.main-text {
    font-size: 25px;
    font-weight:600;
}
.set-icon {
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
    .bg-color-green {
background-color: #fff;
color: #5cb85c;
}
 .bg-color-blue {
background-color: #fff;
color: #4CB1CF
}
  .bg-color-red {
background-color: #fff;
color:#F0433D;
}
  .bg-color-brown {
background-color: #fff;
color:#f0ad4e;
}
.back-footer-green {
background-color: #5cb85c;
color:#fff;
border-top: 0px solid #fff;
}
 .back-footer-red {
background-color: #F0433D;
color:#fff;
border-top: 0px solid #fff;
}
 .back-footer-blue {
background-color: #4CB1CF;
color:#fff;
border-top: 0px solid #fff;
}
 .back-footer-brown {
background-color: #f0ad4e;
color:#fff;
border-top: 0px solid #fff;
}
 .icon-box-right {
display: block;
float: right;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}

 .main-temp-back {
background: #8702A8;
color: #FFFFFF;
font-size: 16px;
font-weight: 300;
text-align: center;
}
 .main-temp-back .text-temp {
font-size: 40px;
}
.back-dash {
    padding:20px;
    font-size:20px;
    font-weight:500;
  -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
background-color:#2EA7EB;
color:#fff;
}
    .back-dash p {
        padding-top:16px;
        font-size:13px;
        color:#fff;
        line-height:25px;
        text-align:justify;
    }

     .color-bottom-txt {
   color: #000;
font-size: 16px;
line-height: 30px;
}
     /*CHAT PANEL*/
 .chat-panel .panel-body {
height: 450px;
overflow-y: scroll;
}
 .chat-box {
margin: 0;
padding: 0;
list-style: none;
}
 .chat-box li {
margin-bottom: 15px;
padding-bottom: 5px;
border-bottom: 1px dotted #808080;
}
 .chat-box li.left .chat-body {
margin-left: 90px;
}
 .chat-box li .chat-body p {
margin: 0;
color: #8d8888;
}
.chat-img>img {
    margin-left:20px;
}
footer {
    clear: both;
    margin-left: 12px;
    margin-right: 460px;
    text-align: right;
}
footer p{
font-size: 14px;
    min-width: 180px;
    padding-top: 0;
    color: #838383;
}
footer p a {
    color: #000000;
}

.table-responsive {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}
/*----------------------------------------------
    MENU STYLES    
------------------------------------------------*/
.navbar{
    min-height: 30px;
}

.user-image {
    margin: 25px auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
max-height:170px;
max-width:170px;
}
.top-navbar{
margin:0px;
}
.top-navbar .navbar-brand {
color: #fff;
text-align: left;
height: 40px;
font-size: 24px;
font-weight: 700;
text-transform: uppercase;
line-height: 30px;
}
.navbar-brand-subtitle {
    display: none;
}
.navbar-top-links {
    float: left;
}

.top-navbar .nav > li {
position: relative;
display: inline-block;
height: 45px;
}
.top-navbar .nav > li > a {
position: relative;
display: block;
color: #fff;
    border: 1px solid transparent;
}
.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {
text-decoration: none;
background-color: #000000;
color: #fff;
}
.top-navbar .dropdown-menu{
min-width: 230px;
border-radius: 0 0 4px 4px;
}
.top-navbar .dropdown-menu > li > a:hover, .top-navbar .dropdown-menu > li > a:focus{
color: #000000;
background:none;
}
.top-navbar .nav > li > a.highlight {
border: thin inset;
color: #000000;
}
.dropdown {
    float: right;
}
.dropdown-tasks{
width: 255px;
}
.dropdown-tasks .progress {
height: 8px;
margin-bottom: 8px;
overflow: hidden;
background-color: #f5f5f5;
border-radius: 0px;
}
.dropdown-tasks > li > a { 
padding: 0px 15px;
}
.dropdown-tasks p {
font-size: 13px;
line-height: 21px;
padding-top: 4px;
}
.active-menu {
    background-color: #8bce4a !important;
}

.arrow {
    float: right;
}
.fa {
    color: #000;
}
.fa:hover {
    color: #333;
}
.fa.arrow:before {
    content: "\f104";
}
.dropdown-toggle .fa {
    margin: 3px auto;
    color: #fff;
}
.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
	padding:0;
}
.sidebar-collapse .nav > li > a {
	color:#fff;
	background:transparent;
	text-shadow:none;
    font-size: 1.75em;
	
}
.sidebar-collapse > .nav > li > a {
	padding:15px 10px;
}
.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(255, 255, 255, 0.20);
}
ul.nav.nav-second-level.collapse.in {
background: #59932c;
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	 
	outline:0;
}
 
.navbar-side {
	border:none;
	background-color: transparent;
    margin-top: 80px;
    border-top: thin solid #81C752;
	
}
.top-navbar {
	background:#000000;
	border-bottom:none;
	
}
.top-navbar .nav > li > a > i {
margin-right: 2px;
}
.top-navbar .navbar-brand:hover { 
color:#fff;

}
.dropdown-user li {
margin: 8px 0;
}
.navbar-default {
border:0px solid black;
     
}
.navbar-header {
    background: #000000;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #8bce4a;
}
.navbar-default .navbar-toggle {
border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
}

div#breadcrumb {
    margin-bottom: 2em;
}

div#breadcrumb > a {
    color: #000000;
}

div#breadcrumb > a::before {
    content: "<< "
}

div#breadcrumb > a:link {
    text-decoration: underline;
}

div#breadcrumb > a:hover {
    text-decoration: none;
}
.chat-link, .chat-link:link, .chat-link:visited {
    font-size: 20px;
    margin: 30px auto;
    color: white;
    display: block;
    text-align: center;
    padding: 10px 10px;
    width: 80%;
    background-color: #81C752;
    border-radius: 5px;
    text-decoration: none;
}
.chat-link:hover, .chat-link:active {
    background-color: #92E05D;
    text-decoration: none;
    color: white;
}
.chat-link .fa {
    color: white;
}
/*----------------------------------------------
    UI ELEMENTS STYLES     
------------------------------------------------*/
.btn-circle {
width: 50px;
height: 50px;
padding: 6px 0;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}

#create-link {
    float: right;
    margin-bottom: 20px;
    background-color: #000000;
    color: #fcfcfc;
    padding: 8px 50px;
    border-radius: 10px;
    font-weight: normal;
    border: 1px solid #ccc;
    text-decoration: none;
}
#create-link:hover, #create-link:active {
    text-decoration: none;

}
.messages-dialog .ui-dialog-titlebar {
    background: #000000;
}
.messages-dialog .ui-dialog-titlebar-close {
  visibility: hidden;
}
.reply-dialog {
    width: 80%;
}
#application-login-logo {
    margin: auto auto -40px;
    width: 280px;
    max-width: 90%;
    display: block;
}

.login-screen-box {
    min-height: 300px;
    position: relative;
}
.login-screen-divider {
    position: absolute;
    width: 0;
    height: 200px;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    border-right: thin solid #ddd;

}
#push-logo {
    width: 210px;
}
.error {
    font-weight: bold;
    color: red;
}

a.trip_assign {
    color: #000000;
}
a.trip_assign:link {
    text-decoration: underline;
}
a.trip_assign:hover {
    text-decoration: none;
}

/*----------------------------------------------
    MEDIA QUERIES     
------------------------------------------------*/
 
 @media(min-width:768px) {
     #page-wrapper{
        margin: 42px 0 0 260px;
        padding: 15px 30px;
        min-height: 1200px;

    }

    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
        margin-top: 8.5em;
    }

   .navbar {
       border-radius: 0px;
       border-bottom: 2px solid #fff;
       position: fixed;
       width: 100%;
    }
   .sidebar-collapse {
       display: block;
   }
   
}
 @media(max-width:480px) {
.page-header small {
display: block;
padding-top: 14px;
font-size: 19px;
}
}


@media screen and (min-width: 768px) {
    .top-navbar .navbar-brand {
        width: 260px;
        font-size: 30px;
    }
    .navbar-brand-subtitle {
        font-size: 85%;
        padding-left: 50px;
        display: block;
    }
    .navbar-top-links {
        float: right;
    }
    a.navbar-brand {
        padding: 0;
        margin: 0;
    }
}

input, button, select, textarea {
    border-radius: 4px;
    border: 2px solid;
    /*min-width: 200px;*/
}

input[type='datetime-local'] {
    min-width: 0;
}
