<div class="error_msg">
    <p>The importer did not find the expected data in your uploaded file. Your trip was not imported.</p>

    <p>If you believe this was caused by a system error and would like assistance from our support team,
        please copy the following information and email it to <a href="mailto:errors@pushinteractions.com">errors@pushinteractions.com</a></p>

    <div class="error_details">
        {% for error_key, error_value in dashboard_message_error_details.items %}
            {{ error_key }}: {{ error_value }}<br />
        {% endfor %}
    </div>
</div>