<div class="error_msg">
    <p>The importer did not find all of the expected data in your uploaded file. Some information may be missing.</p>

    <p>Continue below to view and edit the trip data that was imported.</p>

    <p><a class="link_btn" href="{% url 'trip-edit' dashboard_message_include_trip_id %}">View trip &raquo;</a></p>
    <p>If you believe this was caused by a system error and would like assistance from our support team,
        please copy the following information and email it to <a href="mailto:errors@pushinteractions.com">errors@pushinteractions.com</a></p>

    <div class="error_details">
        {% for error_key, error_value in dashboard_message_error_details.items %}
            {{ error_key }}: {{ error_value }}<br />
        {% endfor %}
    </div>
</div>