        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse collapse">
                <ul class="nav">
                    {%  for menu_item in dashboard_menu_items %}
                            <li id="nav-item-{{ menu_item.0 }}" {% if menu_item.2 %}class="selected"{% endif %}><a href="{{ menu_item.1 }}">{{  menu_item.0 }}</a></li>
                    {% endfor %}
                </ul>
                {% if chat %}
                <div><a class="chat-link popup" href="/dashboard/chat/">Chat
                    <i class="fa fa-comments fa-fw"></i>
                </a></div>
                {% endif %}
            </div>
        </nav>
        <!-- /. NAV SIDE  -->