                    <fieldset>
                        {{ sub_forms.management_form }}
                        {{ sub_forms.non_form_errors }}
                        {% for sub_form in sub_forms %}
                            {% if sub_form.form_panel_title != '' %}
                                <h3>{{ sub_form.form_panel_title }}</h3>
                            {% endif %}

                            <div class="sub-form">
                                {{ sub_form.as_p }}
                            </div>
                             {%  if not form_disabled %}
                                <div id="buttons-panel">
                                    <input type="submit" value="{{ save_button_text|default:"Save" }}" class="btn btn-default btn-submit" id="submit-button" onclick="this.disabled=true,this.form.submit();" />
                                    <a href="{{ cancel_uri }}" class="btn btn-default cancel-button">{{ cancel_button_text|default:"Cancel" }}</a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </fieldset>
